
body,html {
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #22222b;
}

.text-center {
    text-align: center;
}

.main {
    background-image: url("../img/backround-img.jpg");
    display: flex;
    flex-direction: column;
    height: 100%;
    /*justify-content: space-between;*/
}

.wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-left: 15px;

}

.nav-link {
    color: #faf9fe;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.4s;
}

.nav-link:hover {
    border-bottom: 1px solid #faf9fe;
}

.title-h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    color: #faf9fe;
    padding-top: 350px;
}

.title-h2 {
    font-size: 46px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
}

.title-h3 {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 10px;
}

.after-title {
    font-size: 16px;
    color: #22222b;
    padding-top: 10px;
    padding-bottom: 40px;
}

.after-title a {
    font-size: 18px;
    opacity: 0.6;
    transition: 0.6s;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.after-title a:hover {
    border-bottom: 3px solid #7B68EE;
}

.box-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 230px;
    padding-bottom: 70px;
}

.box-about-item {
    flex: 0 0 46%;
    max-width: 46%;
    position: relative;
}

.box-about_back{
    position: absolute;
    z-index: -1;
    left: 0;
    top: -210px;
}

.box-about_front {
    position: relative;
    left: 260px;
    max-width: 330px;
}

.box-about_vertical {
    /*position: absolute;*/
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    /*bottom: 58px;*/
    margin-bottom: 20px;
    font-size: 16px;
}

.box-about_text {
    color: #7f7f82;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    margin-bottom: 35px;
}

.progress-bar {
    font-size: 16px;
    font-weight: 500;
}

.progress-bar-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.section-services {
    background-color: #faf9fe;
    padding-top: 100px;
    padding-bottom: 40px;
}

.service {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr;
    grid-gap: 45px;
    margin-top: 35px;
}

.service_text {
    color: #22222b;
    font-size: 14px;
    line-height: 1.8;
}

.fas {
    color: Mediumslateblue;
    /*color: Dodgerblue;*/
    font-size: 40px;
    padding-bottom: 10px;
}

.service_link {
    color: #22222b;
    font-size: 14px;
    /*color: Dodgerblue;*/
    color: Mediumslateblue;
    opacity: 0.5;
    transition: 0.2s;
}

 a:hover {
     opacity: 1;
 }

 .portfolio {
     display: grid;
     grid-template: repeat(7, 88px)/1fr 1fr 1fr;
     grid-gap: 45px;
 }

 .my-portfolio {
     margin-top: 120px;
 }

 .portfolio-01 {
     grid-column: 1/2;
     grid-row: 1/4;
 }

.portfolio-02 {
    grid-column: 2/3;
    grid-row: 1/5;
}

.portfolio-03 {
    grid-column: 3/4;
    grid-row: 1/4;
}

.portfolio-04 {
    grid-column: 1/2;
    grid-row: 4/8;
}

.portfolio-05 {
    grid-column: 2/3;
    grid-row: 5/8;
}

.portfolio-06 {
    grid-column: 3/4;
    grid-row: 4/8;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.portfolio-thumb img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}





