
body,html {
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #22222b;
}

.text-center {
    text-align: center;
}

.main {
    background-image: url("../img/backround-img.jpg");
    display: flex;
    flex-direction: column;
    height: 100%;
    /*justify-content: space-between;*/
}

.wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-left: 15px;

}

.nav-link {
    color: #faf9fe;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.4s;
}

.nav-link:hover {
    border-bottom: 1px solid #faf9fe;
}

.title-h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    color: #faf9fe;
    padding-top: 350px;
}

.title-h2 {
    font-size: 46px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
}

.title-h3 {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 10px;
}

.after-title {
    font-size: 16px;
    color: #22222b;
    padding-top: 15px;
    padding-bottom: 15px;
}

.box-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 230px;
    padding-bottom: 70px;
}

.box-about-item {
    flex: 0 0 46%;
    max-width: 46%;
    position: relative;
}

.box-about_back{
    position: absolute;
    z-index: -1;
    left: 0;
    top: -210px;
}

.box-about_front {
    position: relative;
    left: 215px;
}

.box-about_vertical {
    /*position: absolute;*/
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    /*bottom: 58px;*/
    margin-bottom: 20px;
    font-size: 16px;
}

.box-about_text {
    color: #7f7f82;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    margin-bottom: 35px;
}

.progress-bar {
    font-size: 16px;
    font-weight: 500;
}

.progress-bar-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.section-services {
    background-color: #faf9fe;
    padding-top: 100px;
    padding-bottom: 30px;
}

.service {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr;
    grid-gap: 45px;
}

.service_text {
    color: #22222b;
    font-size: 14px;
    line-height: 1.5;
}

.service_link {
    color: #22222b;
    font-size: 14px;
    /*text-decoration: none;*/
}




