
body,html {
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #22222b;
}

.text-center {
    text-align: center;
}

.main {
    background-image: url("../img/backround-img.jpg");
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
    /*justify-content: space-between;*/
}

.wrapper {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-left: 15px;

}

.nav-link {
    color: #faf9fe;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.4s;
}

.nav-link:hover {
    border-bottom: 1px solid #faf9fe;
}

.title-h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    color: #faf9fe;
    padding-top: 350px;
}

.title-h2 {
    font-size: 46px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
}

.title-h3 {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 10px;
}

.after-title {
    font-size: 16px;
    color: #22222b;
    padding-top: 10px;
    padding-bottom: 40px;
}

.after-title a {
    font-size: 18px;
    opacity: 0.6;
    transition: 0.6s;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.after-title a:hover {
    border-bottom: 3px solid #7B68EE;
}

.box-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 70px;
}

.box-about-item {
    flex: 0 0 46%;
    max-width: 46%;
    position: relative;
}

.box-about_back{
    position: absolute;
    z-index: -1;
    left: 0;
    top: -70px;
}

.box-about_front {
    position: relative;
    left: 400px;
    max-width: 320px;
    /*max-height: 480px;*/
}

.box-about_vertical {
    /*position: absolute;*/
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    /*bottom: 58px;*/
    margin-bottom: 20px;
    font-size: 16px;
}

.box-about_text {
    color: #7f7f82;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 260px;
    margin-left: 100px;
}

.progress-bar-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 220px;
}

.section-services {
    background-color: #faf9fe;
    padding-top: 100px;
    padding-bottom: 40px;
}

.service {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr;
    grid-gap: 45px;
    margin-top: 35px;
}

.service_text {
    color: #22222b;
    font-size: 14px;
    line-height: 1.8;
}

.fas {
    color: Mediumslateblue;
    /*color: Dodgerblue;*/
    font-size: 40px;
    padding-bottom: 10px;
}

.service_link {
    color: #22222b;
    font-size: 14px;
    /*color: Dodgerblue;*/
    color: Mediumslateblue;
    opacity: 0.5;
    transition: 0.2s;
}

 a:hover {
     opacity: 1;
 }

 .section-portfolio {
     margin-bottom: 100px;
 }

 .portfolio {
     display: grid;
     grid-template: repeat(7, 88px)/1fr 1fr 1fr;
     grid-gap: 45px;
 }

 .my-portfolio {
     margin-top: 120px;
 }

 .portfolio-01 {
     grid-column: 1/2;
     grid-row: 1/4;
 }

.portfolio-02 {
    grid-column: 2/3;
    grid-row: 1/5;
}

.portfolio-03 {
    grid-column: 3/4;
    grid-row: 1/4;
}

.portfolio-04 {
    grid-column: 1/2;
    grid-row: 4/8;
}

.portfolio-05 {
    grid-column: 2/3;
    grid-row: 5/8;
}

.portfolio-06 {
    grid-column: 3/4;
    grid-row: 4/8;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.portfolio-thumb img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-banner {
    padding-top: 70px;
    padding-bottom: 112px;
    background-color: #22222b;
    color: #faf9fe;
    text-align: center;
}

.before-title {
    font-size: 22px;
    margin-bottom: 0;
}

.hire-me {
    font-size: 48px;
    margin-top: 15px;
    margin-bottom: 42px;
}

.btn {
    color: #22222b;
    background-color: #faf9fe;
    text-decoration: none;
    font-size: 22px;
    padding: 12px 57px;
}

.section-feedback {
    padding-top: 122px;
    padding-bottom: 100px;
}

.feedback {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.feedback-item {
    flex: 0 0 45%;
    max-width: 45%;
}

.feedback-top {
    display: flex;
    justify-content: flex-start;
}

.feedback-thumb {
    margin-right: 15px;
}

.feedback-thumb-img {
    display: block;
    width: 100px;
    border: 2px solid #81E0FD;
    border-radius: 50%;
}

.feedback-name_title {
    font-size: 18px;
    margin-top: 30px;
}

.feedback-name_job {
    font-size: 14px;
    color: #7f7f82;
}

.feedback-body {
    font-size: 18px;
    color: #7f7f82;
    font-style: italic;
    padding-left: 10px;
    margin-top: 20px;
    line-height: 1.6;
}

.section-advanteges {
    padding-top: 100px;
    padding-bottom: 82px;
    background-color: #faf9fe;
}

.advanteges {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.advanteges_title {
    font-size: 16px;
}

.advanteges_title span {
    font-size: 22px;
    display: block;
    font-weight: 500;
    margin-bottom: 14px;
}

.advanteges_icon {
    background-color: #22222b;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
}

.advanteges_icon-01 {
    background-image: url("../img/heart-1.png") ;
    background-size: 26px 23px;
}

.advanteges_icon-02 {
    background-image: url("../img/potfol-2.png") ;
    background-size: 26px 23px;
}

.advanteges_icon-03 {
    background-image: url("../img/experience-3.png") ;
    background-size: 26px 23px;
}

.advanteges_icon-04 {
    background-image: url("../img/price-4.png") ;
    background-size: 26px 23px;
}

.section-form {
    padding-top: 60px;
    padding-bottom: 120px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: 0 auto;
}

.form_input, .form_textarea {
    border: none;
    border-bottom: 1px solid #e1e1e1;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    padding: 25px;
    margin-bottom: 12px;
}

.btn_form {
    color:#faf9fe;
    background-color: #22222b;
    text-decoration: none;
    font-size: 22px;
    padding: 12px 57px;
    margin-bottom:10px;
    margin-top: 20px;
    transition: 0.3s;
}

footer {
    background-color: #22222b;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #faf9fe;
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 40px;
}

footer span {
    margin-left: 80px;
}

.social-network {
    display: flex;
    list-style: none;
    margin-right: 80px;
}

.social-network_item {
    margin-left: 40px;

}

.social-network_link {
    color: #faf9fe;
}










