
body,html {
    height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #22222b;
}

.main {
    background-image: url("../img/cup-of.jpg");
    display: flex;
    flex-direction: column;
    height: 100%;
    /*justify-content: space-between;*/
}

.wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-left: 15px;

}

.nav-link {
    color: #faf9fe;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.4s;
}

.nav-link:hover {
    border-bottom: 1px solid #faf9fe;
}

.title-h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    color: #faf9fe;
    padding-top: 350px;
}

.box-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
}

.box-about-item {
    flex: 0 0 45%;
    max-width: 45%;
    position: relative;
}

.box-about_back{
    position: absolute;
    z-index: -1;
    left: 0;
    top: -195px;
}

.box-about_vertical {
    position: absolute;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    bottom: 58px;
    font-size: 16px;
}



